//nav
$mainColor_1: #005e5e;
$mainColor_2: #ffffff;
$navHover_1: #ffffff;
$navHoverBg_1: linear-gradient(to top, #d43a04 0%, #f58500 100%);

//enter
$enterBotton_1: linear-gradient(to top, #015c5c 0%, #039898 100%);
$enterBotton_2: linear-gradient(to top, #d43a04 0%, #f58500 100%);
$enterBotton_3: linear-gradient(to bottom, #015c5c 0%, #039898 100%);
$enterBotton_4: linear-gradient(to bottom, #d43a04 0%, #f58500 100%);
$enterTxt_1: #ffffff;
$loginBorder_1: #583d12;
$inputBg_1: linear-gradient(to top, #ffffff 49%, #ebe3db 100%);
$placeholderColor_1: #917f67;
$forgetIc_1: #ff7800;

//language 
$languageBorder_1: #4b2f0d;
$languageColor_1: #4e3c30;
$languageIc_1: #ffffff;
$languageIcBg_1: linear-gradient(to top, #005e5e 0%, #008f8f 100%);

//title 
$titleColor_1: #ffffff;
$titleColor_2: #000000;

//card
$cardTxt_1: #ffffff;

//swiper
$borderColor_2: #ffffff;
$swiperButtonHover_1: #ffffff44;

//product
$productTitle_1: #d87500;
$productContent_1: #2a221c;
$productBg_1: linear-gradient(to left, transparent 0%, #fffbef 100%);

//footer
$footerBg_1: #005e5e;
$footerTitle_1: #ff9b25;
$borderColor_1: #439595;
$navHoverBg_2: linear-gradient(to top, #ff9b25 0%, #e76d00 100%);;

//marquee
@mixin marquee {
    background: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 20px;

    .title {
        width: auto;
        height: auto;
        white-space: nowrap;
        padding: 0 10px;

        p {
            font-size: 16px;
            font-weight: bold;
            color: #005e5e;
        }
    }
    .marquee {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        
        p {
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            color: #4e3c30;
            padding-left: 20%;
            white-space: nowrap;
            animation: marquee 5s linear infinite;
        }
    }
    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

@mixin gcLogo {
    background: #faf5f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    &:hover,&:active,&.active {
        background: #ffffff;
    }

}
@mixin hrBtn {
    font-size: 18px;
    background: linear-gradient(to top, #d43a04 0%, #f58500 100%);
    color: #ffffff;
    border-radius: 10px;
    
    &:hover,&:active,&.active {
        background: linear-gradient(to bottom, #d43a04 0%, #f58500 100%);
    }
}