footer {
    width: 100%;
    height: auto;

    .footerGroup {
        width: 100%;
        height: 324px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-between;
        position: relative;
        background: $footerBg_1;

        .navGroup {
            width: 1400px;
            height: auto;
            display: flex;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            padding: 10px 0;

            li {
                width: 85px;
                height: 43px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 15px;

                &:hover,&:active,&.active {
                    background: $navHoverBg_2;
                }

                a {
                    width: 100%;
                    height: 100%;
                    font-size: 16px;
                    font-weight: bold;
                    color: $mainColor_2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .flexGroup {
            width: 1400px;
            height: auto;
            display: flex;
            border-top: 1px solid $borderColor_1;

            .content {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                border-right: 1px solid $borderColor_1;
                padding: 15px 0 0 0 ;

                .title {
                    font-size: 16px;
                    font-weight: bold;
                    color: $footerTitle_1;
                    margin-left: 50px;
                }
                .contentGroup {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .iconGroup {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        margin: 10px 0 15px;
    
                        i {
                            width: 35px;
                            height: 35px;
                            margin: 0 7px;
                            cursor: pointer;
                            transform: scale(1);
                            
                            &:hover,&:active,&.active {
                                transform: scale(1.1);
                            }

                            &.line {
                                background-position-x: 0%;
                            }
                            &.weChat {
                                background-position-x: 25%;
                            }
                            &.fb {
                                background-position-x: 50%;
                            }
                            &.twitter {
                                background-position-x: 75%;
                            }
                        }
                    }
                    .gcLogo {
                        width: 165px;
                        height: 54px;
                        @include gcLogo;
                        margin-bottom: 15px;
    
                        i {
                            width: 104px;
                            height: 41px;
                        }
                    }
                    .hrBtn {
                        width: 165px;
                        height: 54px;
                        @include hrBtn;
                    }
                }
            }
            .logoGroup {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                
                .sponsor {
                    width: 100%;
                    height: auto;
                    padding: 15px 0 20px 20px;

                    .title {
                        font-size: 16px;
                        font-weight: bold;
                        color: $footerTitle_1;
                        padding-bottom: 10px;
                    }
                    .sponsorGroup {
                        width: 100%;
                        height: auto;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, 120px);
                        gap: 20px 10px;

                        i {
                            width: 100px;
                            height: 35px;
                        }
                    }
                }
                .pay {
                    width: 100%;
                    height: auto;
                    border-top: 1px solid $borderColor_1;
                    padding: 15px 0 20px 20px;

                    .title {
                        font-size: 16px;
                        font-weight: bold;
                        color: $footerTitle_1;
                        padding-bottom: 10px;
                    }
                    .payGroup {
                        width: 100%;
                        height: auto;
                        display: grid;
                        grid-template-columns: repeat(8, 120px);
                        gap: 20px;

                        i {
                            width: 100px;
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
}