//header
header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 42px;

    .top {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0 20px;
        margin: 0 auto;

        .flexGroup {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .logo {
                width: 187px;
                height: 50px;
                margin-right: 50px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .marqueeGroup {
                width: 1000px;
                height: 35px;
                @include marquee;
                padding: 10px;
            }
        }
        ul {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;

            li {
                width: auto;
                height: 100%;
                margin-right: 5px;
                &.language {
                    width: auto;
                    height: 100%;
                    padding: 0 50px 0 70px;
                    position: relative;
                    
                    select {
                        width: 127px;
                        height: 30px;
                        border-radius: 20px;
                        border: 1px solid $languageBorder_1;
                        font-size: 16px;
                        font-weight: bold;
                        padding-left: 15px;
                        color: $languageColor_1;
                        cursor: pointer;

                        option {
                            font-size: 16px;
                        }
                    }
                    .languageIc {
                        width: 22px;
                        height: 22px;
                        background: $languageIcBg_1;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 55px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        i {
                            width: 12px;
                            height: 12px;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 6px 5px 0 5px;
                            border-color: $languageIc_1 transparent transparent transparent;
                        }
                    }
                }
                a {
                    width: auto;
                    font-size: 20px;
                    font-weight: bold;
                    color: $mainColor_1;
                    padding: 10px 25px;
                    border-radius: 10px;
                    white-space: nowrap;
                    
                    &:hover,:active,&.active {
                        color: $navHover_1;
                        background: $navHoverBg_1;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
    .login {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;

        form {
            width: auto;
            height: auto;

            label {
                width: 100%;
                height: 100%;
                position: relative;

                input {
                    width: 175px;
                    height: 30px;
                    margin: 5px;
                    border: 1.5px solid $loginBorder_1;
                    border-radius: 15px;
                    padding-left: 10px;
                    background: $inputBg_1;

                    &::placeholder {
                        color: $placeholderColor_1;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                .forget {
                    width: 20px;
                    height: 20px;
                    color: $forgetIc_1;
                    border: 1px solid $forgetIc_1;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }
        .buttonGroup {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;

            button {
                width: 99px;
                height: 68px;
                font-size: 16px;
                font-weight: bold;
                margin-right: 10px;
                border-radius: 15px;
                color: $enterTxt_1;
                background: $enterBotton_1;
                &:hover,:active,.active {
                    background: $enterBotton_3;
                }

                &:last-child {
                    background: $enterBotton_2;

                    &:hover,:active,.active {
                        background: $enterBotton_4;
                    }
                }
            }
        }
    }
}