.home {
    width: 100%;
    height: auto;
    padding: 10px 0;

    .bannerGroup {
        width: 100%;
        height: auto;
        margin: 0 auto;

        .banner {
            width: 1400px;
            height: auto;
            padding: 50px 0 160px;
            display: flex;
            margin: 0 auto;
            position: relative;

            .contentTxt {
                width: 100%;
                height: auto;
                position: relative;
                animation: banner 1.5s linear infinite;

                .logo {
                    width: 357px;
                    height: 92px;
                    position: absolute;
                    top: 90px;
                    left: -20px;
                }

                .title {
                    width: 696px;
                    height: 181px;
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                }

                .subTxt {
                    width: 177px;
                    height: 62px;
                    position: absolute;
                    top: 2px;
                    left: 450px;
                }
                @keyframes banner {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: scale(1.02);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }

            .bannerPic {
                flex-shrink: 0;
                width: 466px;
                height: 600px;
                position: absolute;
                top: -15px;
                right: 120px;
                z-index: 1;
                animation: person 1.5s linear infinite;

                @keyframes person {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: rotate(-3deg);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    //遊戲項目
    .gameGroup {
        width: 100%;
        height: 623px;
        margin: 0 auto;
        position: relative;
        z-index: 2;

        .title {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding-top: 65px;

            i {
                width: 26px;
                height: 45px;
            }

            p {
                font-size: 40px;
                font-weight: bold;
                color: $titleColor_1;
                padding: 0 10px;
            }
        }

        //卡片
        .gameCard {
            width: 1000px;
            height: auto;
            display: flex;
            justify-content: center;
            margin: 0 auto;

            li {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                

                i {
                    width: 95px;
                    height: 145px;
                    margin-bottom: 10px;
                    transition: 0.5s;
                    cursor: pointer;
                    animation: card 1.5s linear infinite;

                    @keyframes card {
                        0% {
                            transform: translateY(0%);
                        }
                        50% {
                            transform: translateY(5%);
                        }
                        100% {
                            transform: translateY(0%);
                        }
                    }


                    &:hover,&:active,&.active {
                        width: 145px;
                        height: 145px;
                        margin-bottom: 10px;
                        animation: cardHover 0.3s linear;
                        transition: 0.5s;

                        @keyframes cardHover {
                            0% {
                                transform: rotate(0deg);
                            }
                            50% {
                                transform: rotate(45deg);
                            }
                            60% {
                                transform: rotate(-35deg);
                            }
                            75% {
                                transform: scale(1.2);
                            }
                            100% {
                                transform: scale(1);
                            }
                        }
                    }

                    &.sport {
                        background-position-x: 0%;
                        position: absolute;
                        top: -5px;
                        left: 73px;

                        &::after {
                            content: "體育賽事";
                            color: #fff;
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                            white-space: nowrap;
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }

                    &.live {
                        background-position-x: 25%;
                        position: absolute;
                        top: 20px;
                        right: 40px;

                        &::after {
                            content: "真人娛樂";
                            color: #fff;
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                            white-space: nowrap;
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }

                    &.slot {
                        background-position-x: 50%;
                        position: absolute;
                        top: 35px;
                        right: 50px;

                        &::after {
                            content: "老虎機";
                            color: #fff;
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                            white-space: nowrap;
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }

                    &.fish {
                        background-position-x: 75%;
                        position: absolute;
                        top: 20px;
                        right: 60px;

                        &::after {
                            content: "捕魚機";
                            color: #fff;
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                            white-space: nowrap;
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }

                    &.board {
                        background-position-x: 100%;
                        position: absolute;
                        top: -5px;
                        right: 80px;

                        &::after {
                            content: "棋牌遊戲";
                            color: #fff;
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                            white-space: nowrap;
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    //最新活動
    .newsGroup {
        width: 1400px;
        height: auto;
        margin: 0 auto;
        position: absolute;
        top: 900px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;

        .title {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding-bottom: 35px;

            i {
                width: 26px;
                height: 45px;
            }

            p {
                font-size: 40px;
                font-weight: bold;
                color: $titleColor_1;
                padding: 0 10px;
            }
        }

        //輪播
        .swiper {
            padding: 5px 25px 10px;

            .swiper-wrapper {

                .swiper-slide {
                    width: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;

                    img {
                        width: 607px;
                        height: 253px;
                        box-shadow: 0px 2px 10px 0px #000000;
                    }
                }
            }

            .swiper-pagination {
                position: relative;
                bottom: -10px;

                .swiper-pagination-bullet {
                    width: 32px;
                    height: 5px;
                    border-radius: 0;
                    background: $borderColor_2;
                }
                .swiper-pagination-bullet-active {
                    width: 35px;
                    height: 5px;
                    border-radius: 0;
                    background: $borderColor_2;
                }
            }

            .swiper-button-prev {
                width: 70px;
                height: 70px;
                border: 2px solid $borderColor_2;
                border-radius: 50%;
                top: 120px;
                left: 10px;
                right: unset;

                &:hover,&:active,&.active {
                    background: $swiperButtonHover_1;
                }

                &::after {
                    content: "";
                    width: 30px;
                    height: 10px;
                    border-style: solid;
                    border-width: 3px;
                    border-color: transparent transparent $borderColor_2 $borderColor_2;
                    transform: skew(-45deg);
                    position: absolute;
                    top: 22px;
                    left: 22px;
                }
            }

            .swiper-button-next {
                width: 70px;
                height: 70px;
                border: 2px solid $borderColor_2;
                border-radius: 50%;
                top: 120px;
                left: unset;
                right: 10px;

                &:hover,&:active,&.active {
                    background: $swiperButtonHover_1;
                }

                &::after {
                    content: "";
                    width: 30px;
                    height: 10px;
                    border-style: solid;
                    border-width: 3px;
                    border-color: transparent $borderColor_2 $borderColor_2 transparent;
                    transform: skew(45deg);
                    position: absolute;
                    top: 22px;
                    right: 22px;
                }
            }
        }
    }

    //熱門推薦
    .hotGroup {
        width: 1400px;
        height: auto;
        margin: 0 auto;
        padding-top: 170px;

        .title {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding-bottom: 40px;

            i {
                width: 26px;
                height: 45px;
            }

            p {
                font-size: 40px;
                font-weight: bold;
                color: $titleColor_1;
                padding: 0 10px;
            }
        }

        .rank {
            width: 100%;
            height: auto;
            display: flex;

            .left {
                width: auto;
                height: auto;
                margin-right: 55px;

                img {
                    width: 458px;
                    height: 491px;
                    object-fit: contain;
                    cursor: pointer;
                }
            }

            .right {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                .flexGroup1 {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;

                    img {
                        width: 260px;
                        height: 246px;
                        object-fit: contain;
                        cursor: pointer;
                    }
                }

                .flexGroup2 {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;

                    img {
                        width: 437px;
                        height: 214px;
                        object-fit: contain;
                        cursor: pointer;

                        &:first-child {
                            width: 397px;
                            height: 214px;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }

    //產品優勢
    .product {
        width: 1400px;
        height: auto;
        margin: 0 auto;
        padding: 470px 0 248px;
        position: relative;

        .title {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding-bottom: 40px;

            i {
                width: 26px;
                height: 45px;
            }

            p {
                font-size: 40px;
                font-weight: bold;
                color: $titleColor_2;
                padding: 0 10px;
            }
        }

        //定位
        .productPo {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);

            .productGroup {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 auto;

                &:last-child {
                    width: 1000px;
                    height: auto;
                    padding-top: 100px;

                }

                li {
                    width: 420px;
                    height: auto;
                    display: flex;
                    align-items: center;

                    i {
                        width: 138px;
                        height: 138px;
                        flex-shrink: 0;
                    }

                    .txtItem {
                        width: 100%;
                        height: auto;
                        line-height: 2;
                        padding-left: 20px;
                        position: relative;

                        &::after {
                            content: "";
                            background: $productBg_1;
                            width: 138px;
                            height: 165px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: -70px;
                            z-index: -1;

                        }

                        span {
                            font-size: 25px;
                            font-weight: bold;
                            color: $productTitle_1;
                        }

                        .content {
                            // text-align: justify;
                            font-size: 18px;
                            line-height: 1.2;
                            color: $productContent_1;
                        }
                    }
                }
            }
        }
    }
}